.page-wrapper{
    padding:30px;
}
.callout{
    border-left:none;
    border-right:none;
}
table.dataTable{
    width:100% !important;
}
.dt-id-column{
    display:none !important;
}

#viewImageModal{
    padding:0;
}

#viewImageModal .card{
    border:none;
}
.messages{
    margin-bottom:20px;
}
.error-message,
.success-message{
    padding:5px;
    margin-bottom:10px;
    color:#fff;
}

.error-message{
    background-color:#c00;
}
.success-message{
    background-color:green;
}